
<hr />
<% #部分テンプレートを読み込んでいる %>
<%= render 'form' %>

<hr />

<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped" border=0>
        <thead>
          <tr>
            <th>番号</th>
            <th>名前</th>
            <th>年齢</th>
            <th>内　容</th>
            <th></th>
          </tr>
        </thead>
        
        <% num=0 %>
        <% @messages.each do |message| %>
          <% num+=1 %>
          <tr>
            <td>
              <%= num %>
            </td>
            <td>
              <%= message.name %>
            </td>
            <td>
              <%= message.age %>
            </td>
            <td>
              <%= message.body %>
            </td>
            <td align="right">
              [<%= link_to "編集" , edit_message_path(message) %>]
              [<%= link_to "削除" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>]
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>